
        {{!-- dashboard:  
            -in route, redirect if not logged in
            -show upcoming sessions
            -show notes 
            -should only show study sessions belonging the loggin-in id's sessions
            -should only show notes belonging to logged-in id's notes
            buttons for un-enroll from each session, grab by session id
            buttons for update/delete on each note, grab by note id           
        --}}


<p class="text-center font white">my upcoming study sessions</p>
<div class="container upcomingsessions my-5" id='upcomingsessions'>
    <div class="row justify-content-center">       
        {{#each member.sessions as |session|}}
        <div class="card col-md-3 m-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{session.session_title}}</h5>
                <h6 class="card-subtitle mb-2 pink">{{session.date}} {{session.time}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{session.location}}</h6>
                <p class="card-text">{{session.description}}"</p>
                {{!-- updated to unenroll the session --}}
                <button data-id="{{session.session_member.id}}"  class="card-link pink btn-link bg-white border-0 float-right unenroll">un-enroll</button>
            </div>
        </div>        
        {{/each}}
    </div>
</div>

<p class="text-center font white mt-5">my notes</p>
<div class="container notes">
    <div class="row justify-content-center">
        {{#each notes as |note|}}
        <div class="card col-md-3 m-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{note.notes_title}}</h5>
                <p class="card-text">{{note.notes_content}}</p>
                <button data-id="{{note.id}}" class="card-link pink btn-link bg-white border-0 float-right">delete</button>
            </div>
        </div> 
        {{/each}}    
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col text-center">
            <a href="/addnote" ><button type="button" class="btn btn-outline-light justify-content-right">+ New Note</button></a>
        </div>
    </div>
</div>

<script src="./js/dashboard.js"></script>