{{!-- 
    /sessions
    - could show a calendar with all upcoming sessions 
    - if we can't display a calendar, we can card load all upcoming events
    - we could still use the google calendar api and create a calendar that will track and save locations
 --}}

<p class="text-center font white">upcoming study sessions</p>
<div class="container upcomingsessions my-5">
    <div id="sessionListener" class="row justify-content-center">       
        {{#each sessions as |session|}}
        <div class="card col-md-3 m-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{session.session_title}}</h5>
                <p class="card-text">{{session.description}}</p>
                <h6 class="card-subtitle mb-2 pink">{{format_date session.date}} <br> {{session.time}}</h6><br>
                <h6 class="card-subtitle mb-2 text-muted">{{session.location}}</h6>
                <p class="mt-4"><img src="{{session.host_picture}}" class="rounded-circle hostimage" alt="profile picture" title="{{session.host_displayname}}"></p>

                <p class="card-text font-italic text-center">Host: {{host_displayname}}</p>
                <div class="card-subtitle mb-2 mint text-center font-italic">
                    <h6>Attendees:</h6>
                    {{#each session.members as |member|}}
                    <img src="{{member.profilePicture}}" class="rounded-circle attendee" alt="{{member.display_name}}" title="{{member.display_name}}">
                    {{!-- <h6>{{member.display_name}}</h6> --}}
                    {{/each}}
                </div>
                {{!-- {{#if logged_in }} --}}
                    {{#if isHost }}
                    {{!-- display nothing --}}
                    {{else}}
                        {{#if isEnrolled }}
                        <h6 class="border-0 pink bg-white float-right enroll">Currently Enrolled</h6>
                        {{else}}
                        <button data-id="{{session.id}}" class="card-link border-0 pink bg-white float-right enroll">enroll</button>
                        {{/if}}
                    {{/if}}
                {{!-- {{/if}}    --}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{#if logged_in }}
<div class="container mb-5">
    <div class="row">
        <div class="col text-center">
            <a href="/addsession" ><button type="button" id="addNewSession" class="btn btn-outline-light justify-content-right">+ New Session</button></a>
        </div>
    </div>
</div>
{{/if}}

<script src="./js/sessions.js"></script>