{{!-- 
    /sessions
    - could show a calendar with all upcoming sessions 
    - if we can't display a calendar, we can card load all upcoming events
    - we could still use the google calendar api and create a calendar that will track and save locations
 --}}

<p class="text-center font white">upcoming study sessions</p>
<div class="container upcomingsessions my-5">
    <div id="sessionListener" class="row justify-content-center">       
        {{#each sessions as |session|}}
        <div class="card col-md-3 m-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{session.session-title}}</h5>
                <h6 class="card-subtitle mb-2 pink">{{session.date}} {{session.time}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{session.location}}</h6>
                <p class="card-text">{{session.description}}"</p>
                <p class="card-text font-italic mint">{{host}}"</p>
                <div class="card-subtitle mb-2 text-muted">
                    {{#each session.members as |member|}}
                    <h6>{{member.display_name}}</h6>
                    {{/each}}
                </div>
                <button data-id="{{session.id}}" class="card-link enroll">enroll</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{#if logged_in }}
<div class="container mb-5">
    <div class="row">
        <div class="col text-center">
            <a href="/addsession" ><button type="button" id="addNewSession" class="btn btn-outline-light justify-content-right">+ New Session</button></a>
        </div>
    </div>
</div>
{{/if}}

<script src="./js/sessions.js"></script>